﻿@model Geografia.Models.Paise

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Paise</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Paname" class="control-label"></label>
                <input asp-for="Paname" class="form-control" />
                <span asp-validation-for="Paname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pacapital" class="control-label"></label>
                <input asp-for="Pacapital" class="form-control" />
                <span asp-validation-for="Pacapital" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Continente" class="control-label"></label>
                <input asp-for="Continente" class="form-control" />
                <span asp-validation-for="Continente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Habitantes" class="control-label"></label>
                <input asp-for="Habitantes" class="form-control" />
                <span asp-validation-for="Habitantes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
