﻿@model Geografia.Models.Paise

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Paise</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Paid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Paid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Paname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Paname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pacapital)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pacapital)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Continente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Continente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Habitantes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Habitantes)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
