﻿@model Geografia.Models.Paise

@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>

<div>
    <h4>Paise</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Paid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Paid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Paname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Paname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pacapital)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pacapital)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Continente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Continente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Habitantes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Habitantes)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
