﻿@model IEnumerable<Geografia.Models.Paise>

@{
    ViewData["Title"] = "Index";
}

<h1>Pagina Principal</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <p>
        <i class=" fa fa-search"></i>
        <input type="search" placeholder=" Ingresa Nombre o Capital..." name="PaiSearch"
               value="@ViewData["GetPaiseDetail"]" style="width:500px;" />
        <input type="submit" value="Buscar" class="btn btn-primary" />
        <a asp-action="Index">Ver todos</a>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Paid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pacapital)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Continente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Habitantes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Paid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pacapital)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Continente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Habitantes)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Paid }, new { @class = "btn btn-primary" })  |
                @Html.ActionLink("Detail", "Detail", new { id = item.Paid }, new { @class = "btn btn-success" })  |
                @Html.ActionLink("Delete", "Delete", new { id = item.Paid }, new { @class = "btn btn-danger" })
            </td>
        </tr>

     
}
    </tbody>
</table>
